* {
    margin: 0px;
}

/* Header section styles */
.header {
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(../styles/images/donation3.jpg);
    /* padding: 174px 307px; */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-bottom: 174px;
}

.header-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding-top: 174px;
    padding-left: 307px;
    padding-right: 307px;
}

.header-description {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px 374px 30px 374px;
}

.btn-primary {
    font-family: 'Inter';
    background: #FF5959;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 16px 20.5px;
    border-style: none;
}

/* donate-today section */

.donate-today {
    text-align: center;
    padding-left: 338px;
    padding-right: 337px;
}

.section-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 45px;
    padding-top: 130px;
    padding-bottom: 20px;
    text-align: center;
}

.section-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-left: 37px;
    margin-right: 36px;
    padding-bottom: 50px;
    text-align: center;
}

.donate-today .donation-amount-btn {
    display: flex;
    gap: 22px;
    justify-content: center;
}

.donate-today .donation-amount-btn {
    padding-bottom: 60px;
}

.donate-today .btn-secondary {
    width: 135px;
    height: 123px;
    background: #FAFAFA;
    border-radius: 5px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #707070;
    font-style: normal;
    border-style: none;
}

.donate-today .other-amount {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #B3B3B3;
    padding-bottom: 9.5px;
}

hr {
    border: 1px solid #DADADA;
    margin-bottom: 30px;
}

#clr-btn {
    background: #FFEEEE;
    color: #FF5959;
}

/* donate plan section */

.section-header {
    margin-left: 375px;
    margin-right: 374px;
}

.container {
    display: flex;
    margin: 0px 155px 0 157px;
    gap: 24px;
}

#box-1 {
    background-color: rgba(79, 157, 166, 0.1);
}

#box-2{
    background-color: rgba(255, 89, 89, 0.1);;
}

#box-3{
    background-color: rgba(255, 255, 0, 0.251);
}

.box{
    padding: 63.5px 22px 54px 23px;
    border-radius: 5px;
}

.content-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 16px;
    padding-top: 31.73px;
}
