* {
    margin: 0px;
}

/* Header section styles */
.header {
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(../styles/images/donation3.jpg);
    /* padding: 174px 307px; */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-bottom: 174px;
}

.header-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding-top: 174px;
    padding-left: 307px;
    padding-right: 307px;
}

.header-description {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px 374px 30px 374px;
}

.btn-primary {
    font-family: 'Inter';
    background: #FF5959;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 16px 20.5px;
    border-style: none;
}

/* donate-today section */

.donate-today {
    text-align: center;
    padding-left: 338px;
    padding-right: 337px;
}

.section-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 45px;
    padding-top: 130px;
    padding-bottom: 20px;
    text-align: center;
}

.section-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-left: 37px;
    margin-right: 36px;
    padding-bottom: 50px;
    text-align: center;
}

.donate-today .donation-amount-btn {
    display: flex;
    gap: 22px;
    justify-content: center;
}

.donate-today .donation-amount-btn {
    padding-bottom: 60px;
}

.donate-today .btn-secondary {
    width: 135px;
    height: 123px;
    background: #FAFAFA;
    border-radius: 5px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #707070;
    font-style: normal;
    border-style: none;
}

.donate-today .other-amount {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #B3B3B3;
    padding-bottom: 9.5px;
}

hr {
    border: 1px solid #DADADA;
    margin-bottom: 30px;
}

#clr-btn {
    background: #FFEEEE;
    color: #FF5959;
    border-style: solid;
    border-color: #FF5959;
}

/* donate plan section */

.section-header {
    margin-left: 375px;
    margin-right: 374px;
}

.container {
    display: flex;
    margin: 0px 155px 0 157px;
    gap: 24px;
}

#box-1 {
    background-color: rgba(79, 157, 166, 0.1);
}

#box-2 {
    background-color: rgba(255, 89, 89, 0.1);
    ;
}

#box-3 {
    background-color: rgba(255, 255, 0, 0.251);
}

.box {
    padding: 63.5px 22px 54px 23px;
    border-radius: 5px;
}

.content-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 16px;
    padding-top: 31.73px;
}

/* Photo section */

.photo-1 {
    display: flex;
    margin: 130.5px 256px 100px 156px;
    gap: 83px;
}

h3 {
    padding-top: 53px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 20px;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    padding-bottom: 20px;
}

.photo {
    width: 456px;
    height: 477px;
    border-radius: 5px;
}

.photo-2 {
    display: flex;
    margin: 130.5px 256px 100px 156px;
    gap: 83px;
}

/* my-update section */

.my-update {
    margin: 0 315px 130px 314px;
    text-align: center;
}

.my-update .description {
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 50px;
}

.contact {
    background: #FFF4D6;
    padding: 76px 189px 76px 120px;
    display: flex;
}

.email-id {
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    border-style: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    padding: 14px 218px 14px 17px;
}

::placeholder {
    color: #AA9F9F;
    ;
}

.contact .btn-primary {
    border-radius: 0px 5px 5px 0px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    padding: 14px 42px 14px 43px;
}

/* Footer style */

.footer {
    background-color: #0B0D17;
    text-align: center;
    padding: 43px 629px 42px 653px;
}

.be-humble {
    color: #FF5959;
    font-family: 'Lobster';
    font-weight: 400;
    font-size: 36px;
    padding-bottom: 24px;
}

.footer-description {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
    color: #D9DBE1;
}